@font-face {
    src: url("/fonts/Cabin-Bold.ttf");
}

@font-face {
    src: url("/fonts/Roboto.ttf");
}

#precentText, #buttonAddProduct {
    -fx-font-family: "Roboto";
}

#textTitle, #generateButton, #emptyFieldsAlert, #resultMessage {
    -fx-font-family: "Cabin";
}

#textTitle {
    -fx-font-smoothing-type: gray;
}

.smallText {
    -fx-font-family: "Cabin";
}

.text-field {
    -fx-font-family: "Roboto";
    -fx-font-size: 13px;
    -fx-background-color: -fx-text-box-border, #ffffff;
    -fx-background-insets: 0, 0 0 1.3 0;
    -fx-background-radius: 0;
}

.text-field:focused {
    -fx-background-color: #1a8cff, #ffffff ;
}

#scrollPane, #splitPane {
    -fx-background-color: #ffffff;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.thumb{
    -fx-background-color: #ffffff;
    -fx-border-color:  #1a8cff;
    -fx-border-radius: 100;
    -fx-padding: 10px;
}

.track{
    -fx-background-color: #ffffff;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.split-pane:horizontal > .split-pane-divider, .split-pane:vertical > .split-pane-divider {
    -fx-background-color: #ffffff;
}

#buttonAddProduct {
    -fx-font-size: 24px;
    -fx-background-radius: 100;
    -fx-text-fill: white;
    -fx-background-color: #1a8cff;
    -fx-padding: 0;
    -fx-alignment: baseline-left;
}

#generateButton {
    -fx-font-size: 19px;
    -fx-background-radius: 6;
    -fx-background-color: #1a8cff;
    -fx-text-fill: white;
}

#generateButton:hover {
    -fx-font-size: 19px;
    -fx-background-color: #185dff;
}

#buttonAddProduct:hover {
    -fx-font-size: 24px;
    -fx-background-color: #185dff;
}
